@mixin flex-container($type,$direction,$wrap,$justify,$align,$itmes) {
  display: $type;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-content: $align;
  align-items: $itmes;
}

// @include flex-container(flex,column,wrap,center,center,center);
