// Mobile View

.mobile-menu {
  background: #3d3f3f;
  padding-left: 1%;
}

.mobile-menu ul {
  display: none;
  z-index: 100;
}
.mobile-menu li a {
  font-family: Helvetica;
  font-size: 1em;
  color: white;
}
.menu{
  background: #3d3f3f;
}
.mobile-menu input[type=checkbox] {
  display: none;
}
.mobile-menu input[type=checkbox]:checked ~ .menu {
  display: block;
}
// Layout
.icon-menu {
  font-size: 1em;
  color: white;
  display: inline-block;
}

// Desktop View
@media only screen and (min-width: 568px) {
  .mobile-menu ul {
    padding-top: 1%;
    padding-bottom: 0.5%;
    display: inline-block;
    width: 100%;
    left: 0;
  }
  .menu {
    position: fixed;
  }
  .icon-menu {
    display: none;
  }
  .mobile-menu ul {

  }
  .mobile-menu li {
    display: inline-block;
  }
  .mobile-menu li a {
    padding: 5px 50px 5px 50px;
    font-size: 1.5em;
  }
  .mobile-menu li:hover {

  }

}
