// Mobile View

.mobile-menu {
  background:  $primary-light;
}

.mobile-menu ul {
  display: none;
  z-index: 100;
}
.mobile-menu li a {
  font-family: $modest;
  font-size: 1em;
  color: $contrast-light;
}
.mobile-menu input[type=checkbox] {
  display: none;
}
.mobile-menu input[type=checkbox]:checked ~ .menu {
  display: block;
}
// Layout
.icon-menu {
  font-size: 1em;
  color: $contrast-light;
  display: inline-block;
}

// Desktop View
@media only screen and (min-width: 568px) {
  .mobile-menu ul {
  @include flex-container(flex,row,nowrap,space-around,center,center);
    padding-top: 1%;
    padding-bottom: 0.5%;
    // display: inline-block;
    width: 100%;
    left: 0;
  }
  .icon-menu {
    display: none;
  }
  .mobile-menu {

  }
  .mobile-menu li {
    display: inline-block;
  }
  .mobile-menu li a {
    font-size: 1.5em;
  }
  .mobile-menu li:hover {

  }

}
