// Mobile View
.about-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  // border-radius: 50%;
  img {
    max-width: 110%;
    max-height: 110%;
    }
  }
.about {
  h1 {
    padding: 2.5%;
    font-family: $fancy;
    font-size: 5em;
    color: $contrast-dark;
  }
  p {
    padding: 2.5%;
    font-family: $basic-soft;
    font-size: 2em;
    color: $contrast-dark;
  }
}
.splash {
  font-family: $statement;
  font-size: 1.2em;
  text-shadow: 2px 2px $lightest;
}
.about-img_container {
  padding: 4%;
}
.about_container {
  @include flex-container(flex,column,wrap,center,center,center);
  padding-bottom: 5em;
}
.about-text_container{
  @include flex-container(flex,column,wrap,center,center,center);
}

// Desktop View
@media only screen and (min-width: 650px) {
  .about{
    h1{
      font-size: 7.5em;
      padding: 5%;
      padding-top: 10%;
    }
    p {
      font-size: 2.7em;
    }
  }
  .about-text_container{
  }
  .about-img {
    width: 575px;
    height: 575px;
    overflow: hidden;
    border-radius: 50%;
    img {
      max-width: 115%;
      max-height: 115%;
    }
  }
  .about_container {
    padding-left: 10%;
    padding-right: 10%;
    @include flex-container(flex,row,nowrap,center,center,center);
  }
}
