// Mobile View
.about-h1 {
  padding: 2.5%;
  font-family: $fancy;
  font-size: 5em;
  color: $contrast-dark;
  }
.about-p {
  padding: 2.5%;
  font-family: $basic-soft;
  font-size: 2em;
  color: $contrast-dark;
  }
.splash {
  font-family: $statement;
  font-size: 1.2em;
  text-shadow: 2px 2px $lightest;
}
.about_container{
  padding: 5%;
  @include flex-container(flex,rows,nowrap,center,center,center);
}

img {
  border-radius: 50%;
}
.about-text_container{
  padding-left: 5%;
  @include flex-container(flex,column,wrap,center,center,center);
}


