.bio {
    h1 {
    background: $second;
    padding: 2.5%;
    padding-left: 15%;
    margin: 10%;
    font-family: $statement;
    font-size: 5em;
    color: $contrast-dark;
  }
  p {
    margin: 10%;

    background: $second;
    text-indent: 5%;
    padding: 2.5%;
    font-family: $basic-soft;
    font-size: 2em;
    color: $contrast-dark;
  }
  .parah-one {

  }
}
