// Mobile View

.mobile-menu {
  background:  $primary-light;
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.mobile-menu ul {
  display: none;
  z-index: 100;
}
.mobile-menu li a {
  font-family: $modest;
  font-size: 2em;
  color: $contrast-light;
}
.mobile-menu input[type=checkbox] {
  display: none;
}
.mobile-menu input[type=checkbox]:checked ~ .menu {
  display: block;
}

.home {
  position:fixed;
  right: 2%;
  top:0px;
  font-size: 50px;
  a {color: $primary-light;
  }
}
.rotate-home:hover {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -moz-transition: -moz-transform 0.5s ease-out;
  -transition: -transform 0.5s ease-out;
}

// Layout
.icon-menu {
  font-size: 2em;
  color: $contrast-light;
  display: inline-block;
}

// Desktop View
@media only screen and (min-width: 568px) {
  .mobile-menu ul {
    @include flex-container(flex,row,nowrap,flex-end,center,center);
    padding-top: 1%;
    padding-bottom: 0.5%;
    width: 100%;
    left: 0;
  }
  .icon-menu {
    display: none;
  }
  .mobile-menu {

  }
  .mobile-menu li {
    display: inline-block;
    padding-right: 6.5%;
  }
  .mobile-menu li a {
    font-size: 1.5em;
  }
  .mobile-menu li:hover {

  }

}
