.portfolio {
    h1 {
      // background: $contrast-light;
      padding: 2.5%;
      padding-left: 13%;
      font-family: $statement;
      font-size: 2.5em;
      color: $darkest;
      border-top: 2px solid $primary-light;
  }
.portfolio-img{
  max-width: 300px;
  border-radius: 5px;
  margin-bottom: 2em;
}
.portfolio-img_grid {
  @include flex-container(flex,row,wrap,space-around,flex-start,center);
  img:hover{
      opacity: 0.3;
    }
}
.display-link {
    z-index: -10;
    position: absolute;
    margin-top: 6%;
    margin-left: 7%;
    font-family: $statement;
    p{
      color: $darkest;
      font-size: 2.5em;
    }
  }


@media only screen and (min-width: 650px) {
  .portfolio-img{
    max-width: 400px;
    border-radius: 5px;
    margin-bottom: 3em;
  }
    h1 {
      font-size: 5em;
    }
  }
}
